:root {
  --demophloxproalto-15: rgba(209, 209, 209, 0.15);
  --demophloxproblack: rgba(0, 0, 0, 1);
  --demophloxproblack-45-linear-white-white-white: rgba(0, 0, 0, 0.45);
  --demophloxproblue-gem: rgba(77, 10, 164, 1);
  --demophloxproboulder: rgba(120, 120, 120, 1);
  --demophloxprobroom: rgba(255, 233, 28, 1);
  --demophloxprobroom-70: rgba(255, 233, 28, 0.7);
  --demophloxprocod-gray: rgba(17, 17, 17, 1);
  --demophloxprocod-gray-50: rgba(17, 17, 17, 0.5);
  --demophloxprocod-gray-60: rgba(17, 17, 17, 0.6);
  --demophloxprocod-gray-70: rgba(17, 17, 17, 0.7);
  --demophloxproconcrete: rgba(242, 242, 242, 1);
  --demophloxprocornflower-blue: rgba(82, 124, 235, 1);
  --demophloxprodaisy-bush: rgba(79, 42, 154, 1);
  --demophloxprodove-gray: rgba(112, 112, 112, 1);
  --demophloxprodove-gray-30: rgba(112, 112, 112, 0.3);
  --demophloxprodusty-gray: rgba(154, 154, 154, 1);
  --demophloxproemperor: rgba(80, 80, 80, 1);
  --demophloxproemperor-60: rgba(80, 80, 80, 0.6);
  --demophloxprogallery: rgba(235, 235, 235, 1);
  --demophloxprogray: rgba(141, 141, 141, 1);
  --demophloxprojava: rgba(27, 176, 206, 1);
  --demophloxprojazzberry-jam: rgba(164, 10, 77, 1);
  --demophloxprolightning-yellow: rgba(255, 201, 32, 1);
  --demophloxpromercury: rgba(232, 232, 232, 1);
  --demophloxpromine-shaft: rgba(32, 32, 32, 1);
  --demophloxpromine-shaft-65: rgba(32, 32, 32, 0.65);
  --demophloxpromirage: rgba(23, 28, 36, 1);
  --demophloxpropumpkin: rgba(255, 110, 26, 1);
  --demophloxproseashell: rgba(241, 241, 241, 1);
  --demophloxprosilver: rgba(204, 204, 204, 1);
  --demophloxprosilver-chalice: rgba(159, 159, 159, 1);
  --demophloxprosunshade: rgba(255, 160, 36, 1);
  --demophloxprotundora: rgba(76, 76, 76, 1);
  --demophloxprotundora-98: rgba(78, 78, 78, 0.98);
  --demophloxprowhite: rgba(255, 255, 255, 1);
  --demophloxprowhite-02: rgba(255, 255, 255, 0);
  --demophloxprowhite-20: rgba(255, 255, 255, 0.2);
  --demophloxprowhite-40: rgba(255, 255, 255, 0.4);
  --demophloxprowhite-50: rgba(255, 255, 255, 0.5);
  --demophloxprowhite-60: rgba(255, 255, 255, 0.6);
  --demophloxprowhite-70: rgba(255, 255, 255, 0.7);
  --demophloxprowhite-white: rgba(255, 255, 255, 1);
  --demophloxprowild-sand: rgba(245, 245, 245, 1);
  --wwwvehyclesioblack: rgba(0, 0, 0, 1);
  --wwwvehyclesioblack-6: rgba(0, 0, 0, 0.06);
  --wwwvehyclesioboulder: rgba(119, 119, 119, 1);
  --wwwvehyclesiocerulean: rgba(4, 171, 235, 1);
  --wwwvehyclesiocerulean-18: rgba(4, 171, 235, 0.18);
  --wwwvehyclesiodusty-gray: rgba(150, 150, 150, 1);
  --wwwvehyclesioemperor: rgba(85, 85, 85, 1);
  --wwwvehyclesiogallery: rgba(237, 237, 237, 1);
  --wwwvehyclesiomercury: rgba(230, 229, 229, 1);
  --wwwvehyclesiomine-shaft: rgba(51, 51, 51, 1);
  --wwwvehyclesioteal-blue: rgba(6, 75, 102, 1);
  --wwwvehyclesiotundora: rgba(64, 64, 64, 1);
  --wwwvehyclesiotundora-10: rgba(68, 68, 68, 0.1);
  --wwwvehyclesiowhite: rgba(255, 255, 255, 1);
  --wwwvehyclesiowhite-02: rgba(255, 255, 255, 0);
  --wwwvehyclesiowhite-5: rgba(255, 255, 255, 0.05);
  --wwwvehyclesiowhite-white: rgba(255, 255, 255, 1);
  --wwwvehyclesiowild-sand: rgba(247, 247, 247, 1);
  --wwwwinnov-8hqcomblack: rgba(0, 0, 0, 1);
  --wwwwinnov8hqcomcornflower-blue: rgba(146, 90, 242, 1);
  --wwwwinnov-8hqcomgallery: rgba(240, 240, 240, 1);
  --wwwwinnov8hqcomsea-buckthorn: rgba(246, 166, 59, 1);
  --wwwwinnov-8hqcomshark: rgba(39, 39, 43, 1);
  --wwwwinnov-8hqcomwhite: rgba(255, 255, 255, 1);
  --demo-phlox-pro-poppins-extralight-16-upper-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-extralight-16-upper-font-weight: 200;
  --demo-phlox-pro-poppins-extralight-16-upper-font-size: 16px;
  --demo-phlox-pro-poppins-extralight-16-upper-letter-spacing: 0.47999998927116394px;
  --demo-phlox-pro-poppins-extralight-16-upper-line-height: 23px;
  --demo-phlox-pro-poppins-extralight-16-upper-font-style: normal;
  --demo-phlox-pro-poppins-italic-22-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-italic-22-font-weight: 400;
  --demo-phlox-pro-poppins-italic-22-font-size: 22px;
  --demo-phlox-pro-poppins-italic-22-letter-spacing: 0px;
  --demo-phlox-pro-poppins-italic-22-line-height: 40px;
  --demo-phlox-pro-poppins-italic-22-font-style: italic;
  --demo-phlox-pro-poppins-light-16-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-light-16-font-weight: 300;
  --demo-phlox-pro-poppins-light-16-font-size: 16px;
  --demo-phlox-pro-poppins-light-16-letter-spacing: 0px;
  --demo-phlox-pro-poppins-light-16-line-height: 25px;
  --demo-phlox-pro-poppins-light-16-font-style: normal;
  --demo-phlox-pro-poppins-light-16-upper-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-light-16-upper-font-weight: 300;
  --demo-phlox-pro-poppins-light-16-upper-font-size: 16px;
  --demo-phlox-pro-poppins-light-16-upper-letter-spacing: 0.47999998927116394px;
  --demo-phlox-pro-poppins-light-16-upper-line-height: 25px;
  --demo-phlox-pro-poppins-light-16-upper-font-style: normal;
  --demo-phlox-pro-poppins-medium-17-title-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-medium-17-title-font-weight: 500;
  --demo-phlox-pro-poppins-medium-17-title-font-size: 17px;
  --demo-phlox-pro-poppins-medium-17-title-letter-spacing: 0px;
  --demo-phlox-pro-poppins-medium-17-title-line-height: 24px;
  --demo-phlox-pro-poppins-medium-17-title-font-style: normal;
  --demo-phlox-pro-poppins-medium-22-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-medium-22-font-weight: 500;
  --demo-phlox-pro-poppins-medium-22-font-size: 22px;
  --demo-phlox-pro-poppins-medium-22-letter-spacing: 7.039999961853027px;
  --demo-phlox-pro-poppins-medium-22-line-height: 33px;
  --demo-phlox-pro-poppins-medium-22-font-style: normal;
  --demo-phlox-pro-poppins-medium-20-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-medium-20-font-weight: 500;
  --demo-phlox-pro-poppins-medium-20-font-size: 20px;
  --demo-phlox-pro-poppins-medium-20-letter-spacing: 5px;
  --demo-phlox-pro-poppins-medium-20-line-height: 30px;
  --demo-phlox-pro-poppins-medium-20-font-style: normal;
  --demo-phlox-pro-poppins-medium-23-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-medium-23-font-weight: 500;
  --demo-phlox-pro-poppins-medium-23-font-size: 23px;
  --demo-phlox-pro-poppins-medium-23-letter-spacing: 0px;
  --demo-phlox-pro-poppins-medium-23-line-height: 32px;
  --demo-phlox-pro-poppins-medium-23-font-style: normal;
  --demo-phlox-pro-poppins-medium-24-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-medium-24-font-weight: 500;
  --demo-phlox-pro-poppins-medium-24-font-size: 24px;
  --demo-phlox-pro-poppins-medium-24-letter-spacing: 0px;
  --demo-phlox-pro-poppins-medium-24-line-height: 35px;
  --demo-phlox-pro-poppins-medium-24-font-style: normal;
  --demo-phlox-pro-poppins-medium-25-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-medium-25-font-weight: 500;
  --demo-phlox-pro-poppins-medium-25-font-size: 25px;
  --demo-phlox-pro-poppins-medium-25-letter-spacing: 1px;
  --demo-phlox-pro-poppins-medium-25-line-height: 57px;
  --demo-phlox-pro-poppins-medium-25-font-style: normal;
  --demo-phlox-pro-poppins-medium-26-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-medium-26-font-weight: 500;
  --demo-phlox-pro-poppins-medium-26-font-size: 26px;
  --demo-phlox-pro-poppins-medium-26-letter-spacing: 0px;
  --demo-phlox-pro-poppins-medium-26-line-height: 39px;
  --demo-phlox-pro-poppins-medium-26-font-style: normal;
  --demo-phlox-pro-poppins-medium-30-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-medium-30-font-weight: 500;
  --demo-phlox-pro-poppins-medium-30-font-size: 30px;
  --demo-phlox-pro-poppins-medium-30-letter-spacing: 0px;
  --demo-phlox-pro-poppins-medium-30-line-height: 41px;
  --demo-phlox-pro-poppins-medium-30-font-style: normal;
  --demo-phlox-pro-poppins-medium-31-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-medium-31-font-weight: 500;
  --demo-phlox-pro-poppins-medium-31-font-size: 31px;
  --demo-phlox-pro-poppins-medium-31-letter-spacing: 0px;
  --demo-phlox-pro-poppins-medium-31-line-height: 44px;
  --demo-phlox-pro-poppins-medium-31-font-style: normal;
  --demo-phlox-pro-poppins-medium-45-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-medium-45-font-weight: 500;
  --demo-phlox-pro-poppins-medium-45-font-size: 45px;
  --demo-phlox-pro-poppins-medium-45-letter-spacing: 1px;
  --demo-phlox-pro-poppins-medium-45-line-height: 58px;
  --demo-phlox-pro-poppins-medium-45-font-style: normal;
  --demo-phlox-pro-poppins-regular-16-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-regular-16-font-weight: 400;
  --demo-phlox-pro-poppins-regular-16-font-size: 16px;
  --demo-phlox-pro-poppins-regular-16-letter-spacing: 0px;
  --demo-phlox-pro-poppins-regular-16-line-height: 23px;
  --demo-phlox-pro-poppins-regular-16-font-style: normal;
  --demo-phlox-pro-poppins-medium-56-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-medium-56-font-weight: 500;
  --demo-phlox-pro-poppins-medium-56-font-size: 56px;
  --demo-phlox-pro-poppins-medium-56-letter-spacing: 0px;
  --demo-phlox-pro-poppins-medium-56-line-height: 66px;
  --demo-phlox-pro-poppins-medium-56-font-style: normal;
  --demo-phlox-pro-poppins-regular-14-title-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-regular-14-title-font-weight: 400;
  --demo-phlox-pro-poppins-regular-14-title-font-size: 14px;
  --demo-phlox-pro-poppins-regular-14-title-letter-spacing: 1px;
  --demo-phlox-pro-poppins-regular-14-title-line-height: 21px;
  --demo-phlox-pro-poppins-regular-14-title-font-style: normal;
  --demo-phlox-pro-poppins-medium-50-title-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-medium-50-title-font-weight: 500;
  --demo-phlox-pro-poppins-medium-50-title-font-size: 50px;
  --demo-phlox-pro-poppins-medium-50-title-letter-spacing: -1px;
  --demo-phlox-pro-poppins-medium-50-title-line-height: 65px;
  --demo-phlox-pro-poppins-medium-50-title-font-style: normal;
  --demo-phlox-pro-poppins-regular-15-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-regular-15-font-weight: 400;
  --demo-phlox-pro-poppins-regular-15-font-size: 15px;
  --demo-phlox-pro-poppins-regular-15-letter-spacing: 0.8999999761581421px;
  --demo-phlox-pro-poppins-regular-15-line-height: 22.5px;
  --demo-phlox-pro-poppins-regular-15-font-style: normal;
  --demo-phlox-pro-poppins-regular-16-title-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-regular-16-title-font-weight: 400;
  --demo-phlox-pro-poppins-regular-16-title-font-size: 16px;
  --demo-phlox-pro-poppins-regular-16-title-letter-spacing: 0px;
  --demo-phlox-pro-poppins-regular-16-title-line-height: 24px;
  --demo-phlox-pro-poppins-regular-16-title-font-style: normal;
  --demo-phlox-pro-poppins-regular-19-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-regular-19-font-weight: 400;
  --demo-phlox-pro-poppins-regular-19-font-size: 19px;
  --demo-phlox-pro-poppins-regular-19-letter-spacing: 0px;
  --demo-phlox-pro-poppins-regular-19-line-height: 27px;
  --demo-phlox-pro-poppins-regular-19-font-style: normal;
  --demo-phlox-pro-poppins-regular-20-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-regular-20-font-weight: 400;
  --demo-phlox-pro-poppins-regular-20-font-size: 20px;
  --demo-phlox-pro-poppins-regular-20-letter-spacing: 5px;
  --demo-phlox-pro-poppins-regular-20-line-height: 75px;
  --demo-phlox-pro-poppins-regular-20-font-style: normal;
  --demo-phlox-pro-poppins-semibold-66-title-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-poppins-semibold-66-title-font-weight: 600;
  --demo-phlox-pro-poppins-semibold-66-title-font-size: 66px;
  --demo-phlox-pro-poppins-semibold-66-title-letter-spacing: 1px;
  --demo-phlox-pro-poppins-semibold-66-title-line-height: 77px;
  --demo-phlox-pro-poppins-semibold-66-title-font-style: normal;
  --demo-phlox-pro-domine-regular-100-font-family: "Domine", Helvetica;
  --demo-phlox-pro-domine-regular-100-font-weight: 400;
  --demo-phlox-pro-domine-regular-100-font-size: 100px;
  --demo-phlox-pro-domine-regular-100-letter-spacing: 1px;
  --demo-phlox-pro-domine-regular-100-line-height: 116px;
  --demo-phlox-pro-domine-regular-100-font-style: normal;
  --demo-phlox-pro-arial-bold-24-font-family: "Arial", Helvetica;
  --demo-phlox-pro-arial-bold-24-font-weight: 700;
  --demo-phlox-pro-arial-bold-24-font-size: 24px;
  --demo-phlox-pro-arial-bold-24-letter-spacing: 0px;
  --demo-phlox-pro-arial-bold-24-line-height: 26.399999618530273px;
  --demo-phlox-pro-arial-bold-24-font-style: normal;
  --demo-phlox-pro-arial-narrow-50-title-font-family: "Arial", Helvetica;
  --demo-phlox-pro-arial-narrow-50-title-font-weight: 400;
  --demo-phlox-pro-arial-narrow-50-title-font-size: 50px;
  --demo-phlox-pro-arial-narrow-50-title-letter-spacing: -1px;
  --demo-phlox-pro-arial-narrow-50-title-line-height: 65px;
  --demo-phlox-pro-arial-narrow-50-title-font-style: normal;
  --demo-phlox-pro-questrial-regular-16-font-family: "Questrial", Helvetica;
  --demo-phlox-pro-questrial-regular-16-font-weight: 400;
  --demo-phlox-pro-questrial-regular-16-font-size: 16px;
  --demo-phlox-pro-questrial-regular-16-letter-spacing: -0.3199999928474426px;
  --demo-phlox-pro-questrial-regular-16-line-height: 27.200000762939453px;
  --demo-phlox-pro-questrial-regular-16-font-style: normal;
  --demo-phlox-pro-questrial-regular-19-font-family: "Questrial", Helvetica;
  --demo-phlox-pro-questrial-regular-19-font-weight: 400;
  --demo-phlox-pro-questrial-regular-19-font-size: 19px;
  --demo-phlox-pro-questrial-regular-19-letter-spacing: 0px;
  --demo-phlox-pro-questrial-regular-19-line-height: 19px;
  --demo-phlox-pro-questrial-regular-19-font-style: normal;
  --demo-phlox-pro-questrial-regular-15-font-family: "Questrial", Helvetica;
  --demo-phlox-pro-questrial-regular-15-font-weight: 400;
  --demo-phlox-pro-questrial-regular-15-font-size: 15px;
  --demo-phlox-pro-questrial-regular-15-letter-spacing: -0.30000001192092896px;
  --demo-phlox-pro-questrial-regular-15-line-height: 22.5px;
  --demo-phlox-pro-questrial-regular-15-font-style: normal;
  --demo-phlox-pro-raleway-regular-12-title-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-regular-12-title-font-weight: 400;
  --demo-phlox-pro-raleway-regular-12-title-font-size: 12px;
  --demo-phlox-pro-raleway-regular-12-title-letter-spacing: 0px;
  --demo-phlox-pro-raleway-regular-12-title-line-height: 40px;
  --demo-phlox-pro-raleway-regular-12-title-font-style: normal;
  --demo-phlox-pro-raleway-semibold-65-title-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-semibold-65-title-font-weight: 600;
  --demo-phlox-pro-raleway-semibold-65-title-font-size: 65px;
  --demo-phlox-pro-raleway-semibold-65-title-letter-spacing: -0.6499999761581421px;
  --demo-phlox-pro-raleway-semibold-65-title-line-height: 78px;
  --demo-phlox-pro-raleway-semibold-65-title-font-style: normal;
  --demo-phlox-pro-raleway-semibold-50-title-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-semibold-50-title-font-weight: 600;
  --demo-phlox-pro-raleway-semibold-50-title-font-size: 50px;
  --demo-phlox-pro-raleway-semibold-50-title-letter-spacing: -0.6499999761581421px;
  --demo-phlox-pro-raleway-semibold-50-title-line-height: 65px;
  --demo-phlox-pro-raleway-semibold-50-title-font-style: normal;
  --demo-phlox-pro-raleway-semibold-27-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-semibold-27-font-weight: 600;
  --demo-phlox-pro-raleway-semibold-27-font-size: 27px;
  --demo-phlox-pro-raleway-semibold-27-letter-spacing: 0px;
  --demo-phlox-pro-raleway-semibold-27-line-height: 27px;
  --demo-phlox-pro-raleway-semibold-27-font-style: normal;
  --demo-phlox-pro-raleway-semibold-32-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-semibold-32-font-weight: 600;
  --demo-phlox-pro-raleway-semibold-32-font-size: 32px;
  --demo-phlox-pro-raleway-semibold-32-letter-spacing: 0px;
  --demo-phlox-pro-raleway-semibold-32-line-height: 32px;
  --demo-phlox-pro-raleway-semibold-32-font-style: normal;
  --demo-phlox-pro-raleway-semibold-32-title-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-semibold-32-title-font-weight: 600;
  --demo-phlox-pro-raleway-semibold-32-title-font-size: 32px;
  --demo-phlox-pro-raleway-semibold-32-title-letter-spacing: 0px;
  --demo-phlox-pro-raleway-semibold-32-title-line-height: 33px;
  --demo-phlox-pro-raleway-semibold-32-title-font-style: normal;
  --demo-phlox-pro-raleway-semibold-34-title-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-semibold-34-title-font-weight: 600;
  --demo-phlox-pro-raleway-semibold-34-title-font-size: 34px;
  --demo-phlox-pro-raleway-semibold-34-title-letter-spacing: 0px;
  --demo-phlox-pro-raleway-semibold-34-title-line-height: 47.599998474121094px;
  --demo-phlox-pro-raleway-semibold-34-title-font-style: normal;
  --demo-phlox-pro-raleway-bold-27-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-bold-27-font-weight: 700;
  --demo-phlox-pro-raleway-bold-27-font-size: 27px;
  --demo-phlox-pro-raleway-bold-27-letter-spacing: 0px;
  --demo-phlox-pro-raleway-bold-27-line-height: 31.049999237060547px;
  --demo-phlox-pro-raleway-bold-27-font-style: normal;
  --demo-phlox-pro-raleway-bold-32-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-bold-32-font-weight: 700;
  --demo-phlox-pro-raleway-bold-32-font-size: 32px;
  --demo-phlox-pro-raleway-bold-32-letter-spacing: 0px;
  --demo-phlox-pro-raleway-bold-32-line-height: 48px;
  --demo-phlox-pro-raleway-bold-32-font-style: normal;
  --demo-phlox-pro-raleway-light-22-title-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-light-22-title-font-weight: 300;
  --demo-phlox-pro-raleway-light-22-title-font-size: 22px;
  --demo-phlox-pro-raleway-light-22-title-letter-spacing: 0px;
  --demo-phlox-pro-raleway-light-22-title-line-height: 26px;
  --demo-phlox-pro-raleway-light-22-title-font-style: normal;
  --demo-phlox-pro-raleway-medium-17-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-medium-17-font-weight: 500;
  --demo-phlox-pro-raleway-medium-17-font-size: 17px;
  --demo-phlox-pro-raleway-medium-17-letter-spacing: 0px;
  --demo-phlox-pro-raleway-medium-17-line-height: 17px;
  --demo-phlox-pro-raleway-medium-17-font-style: normal;
  --demo-phlox-pro-raleway-medium-20-upper-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-medium-20-upper-font-weight: 500;
  --demo-phlox-pro-raleway-medium-20-upper-font-size: 20px;
  --demo-phlox-pro-raleway-medium-20-upper-letter-spacing: 0px;
  --demo-phlox-pro-raleway-medium-20-upper-line-height: 28px;
  --demo-phlox-pro-raleway-medium-20-upper-font-style: normal;
  --demo-phlox-pro-raleway-medium-41-title-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-medium-41-title-font-weight: 500;
  --demo-phlox-pro-raleway-medium-41-title-font-size: 41px;
  --demo-phlox-pro-raleway-medium-41-title-letter-spacing: 0px;
  --demo-phlox-pro-raleway-medium-41-title-line-height: 57.400001525878906px;
  --demo-phlox-pro-raleway-medium-41-title-font-style: normal;
  --demo-phlox-pro-raleway-medium-italic-25-title-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-medium-italic-25-title-font-weight: 500;
  --demo-phlox-pro-raleway-medium-italic-25-title-font-size: 25px;
  --demo-phlox-pro-raleway-medium-italic-25-title-letter-spacing: 0px;
  --demo-phlox-pro-raleway-medium-italic-25-title-line-height: 45px;
  --demo-phlox-pro-raleway-medium-italic-25-title-font-style: italic;
  --demo-phlox-pro-raleway-regular-20-title-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-regular-20-title-font-weight: 400;
  --demo-phlox-pro-raleway-regular-20-title-font-size: 20px;
  --demo-phlox-pro-raleway-regular-20-title-letter-spacing: 0px;
  --demo-phlox-pro-raleway-regular-20-title-line-height: 47.599998474121094px;
  --demo-phlox-pro-raleway-regular-20-title-font-style: normal;
  --demo-phlox-pro-raleway-semibold-18-title-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-semibold-18-title-font-weight: 600;
  --demo-phlox-pro-raleway-semibold-18-title-font-size: 18px;
  --demo-phlox-pro-raleway-semibold-18-title-letter-spacing: 0px;
  --demo-phlox-pro-raleway-semibold-18-title-line-height: 65px;
  --demo-phlox-pro-raleway-semibold-18-title-font-style: normal;
  --demo-phlox-pro-raleway-semibold-24-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-semibold-24-font-weight: 600;
  --demo-phlox-pro-raleway-semibold-24-font-size: 24px;
  --demo-phlox-pro-raleway-semibold-24-letter-spacing: 0px;
  --demo-phlox-pro-raleway-semibold-24-line-height: 26.399999618530273px;
  --demo-phlox-pro-raleway-semibold-24-font-style: normal;
  --demo-phlox-pro-raleway-bold-20-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-bold-20-font-weight: 700;
  --demo-phlox-pro-raleway-bold-20-font-size: 20px;
  --demo-phlox-pro-raleway-bold-20-letter-spacing: 0px;
  --demo-phlox-pro-raleway-bold-20-line-height: 26.399999618530273px;
  --demo-phlox-pro-raleway-bold-20-font-style: normal;
  --demo-phlox-pro-raleway-medium-16-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-raleway-medium-16-font-weight: 500;
  --demo-phlox-pro-raleway-medium-16-font-size: 16px;
  --demo-phlox-pro-raleway-medium-16-letter-spacing: 0px;
  --demo-phlox-pro-raleway-medium-16-line-height: 16px;
  --demo-phlox-pro-raleway-medium-16-font-style: normal;
  --demo-phlox-pro-open-sans-regular-16-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-regular-16-font-weight: 400;
  --demo-phlox-pro-open-sans-regular-16-font-size: 16px;
  --demo-phlox-pro-open-sans-regular-16-letter-spacing: 0px;
  --demo-phlox-pro-open-sans-regular-16-line-height: 25.600000381469727px;
  --demo-phlox-pro-open-sans-regular-16-font-style: normal;
  --demo-phlox-pro-open-sans-regular-16-title-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-regular-16-title-font-weight: 400;
  --demo-phlox-pro-open-sans-regular-16-title-font-size: 16px;
  --demo-phlox-pro-open-sans-regular-16-title-letter-spacing: 0px;
  --demo-phlox-pro-open-sans-regular-16-title-line-height: 24px;
  --demo-phlox-pro-open-sans-regular-16-title-font-style: normal;
  --demo-phlox-pro-open-sans-regular-16-upper-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-regular-16-upper-font-weight: 400;
  --demo-phlox-pro-open-sans-regular-16-upper-font-size: 16px;
  --demo-phlox-pro-open-sans-regular-16-upper-letter-spacing: 0px;
  --demo-phlox-pro-open-sans-regular-16-upper-line-height: 24px;
  --demo-phlox-pro-open-sans-regular-16-upper-font-style: normal;
  --demo-phlox-pro-open-sans-regular-17-title-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-regular-17-title-font-weight: 400;
  --demo-phlox-pro-open-sans-regular-17-title-font-size: 17px;
  --demo-phlox-pro-open-sans-regular-17-title-letter-spacing: 0px;
  --demo-phlox-pro-open-sans-regular-17-title-line-height: normal;
  --demo-phlox-pro-open-sans-regular-17-title-font-style: normal;
  --demo-phlox-pro-open-sans-regular-17-upper-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-regular-17-upper-font-weight: 400;
  --demo-phlox-pro-open-sans-regular-17-upper-font-size: 17px;
  --demo-phlox-pro-open-sans-regular-17-upper-letter-spacing: 0px;
  --demo-phlox-pro-open-sans-regular-17-upper-line-height: 25.5px;
  --demo-phlox-pro-open-sans-regular-17-upper-font-style: normal;
  --demo-phlox-pro-open-sans-regular-18-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-regular-18-font-weight: 400;
  --demo-phlox-pro-open-sans-regular-18-font-size: 18px;
  --demo-phlox-pro-open-sans-regular-18-letter-spacing: 0px;
  --demo-phlox-pro-open-sans-regular-18-line-height: 27px;
  --demo-phlox-pro-open-sans-regular-18-font-style: normal;
  --demo-phlox-pro-open-sans-regular-18-upper-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-regular-18-upper-font-weight: 400;
  --demo-phlox-pro-open-sans-regular-18-upper-font-size: 18px;
  --demo-phlox-pro-open-sans-regular-18-upper-letter-spacing: 0px;
  --demo-phlox-pro-open-sans-regular-18-upper-line-height: 27px;
  --demo-phlox-pro-open-sans-regular-18-upper-font-style: normal;
  --demo-phlox-pro-open-sans-regular-20-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-regular-20-font-weight: 400;
  --demo-phlox-pro-open-sans-regular-20-font-size: 20px;
  --demo-phlox-pro-open-sans-regular-20-letter-spacing: 0px;
  --demo-phlox-pro-open-sans-regular-20-line-height: 30px;
  --demo-phlox-pro-open-sans-regular-20-font-style: normal;
  --demo-phlox-pro-open-sans-regular-23-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-regular-23-font-weight: 400;
  --demo-phlox-pro-open-sans-regular-23-font-size: 23px;
  --demo-phlox-pro-open-sans-regular-23-letter-spacing: 0px;
  --demo-phlox-pro-open-sans-regular-23-line-height: 34.5px;
  --demo-phlox-pro-open-sans-regular-23-font-style: normal;
  --demo-phlox-pro-open-sans-regular-35-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-regular-35-font-weight: 400;
  --demo-phlox-pro-open-sans-regular-35-font-size: 35px;
  --demo-phlox-pro-open-sans-regular-35-letter-spacing: -4.230000019073486px;
  --demo-phlox-pro-open-sans-regular-35-line-height: 35px;
  --demo-phlox-pro-open-sans-regular-35-font-style: normal;
  --demo-phlox-pro-open-sans-regular-94-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-regular-94-font-weight: 400;
  --demo-phlox-pro-open-sans-regular-94-font-size: 94px;
  --demo-phlox-pro-open-sans-regular-94-letter-spacing: -4.230000019073486px;
  --demo-phlox-pro-open-sans-regular-94-line-height: 94px;
  --demo-phlox-pro-open-sans-regular-94-font-style: normal;
  --demo-phlox-pro-open-sans-semibold-18-upper-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-semibold-18-upper-font-weight: 600;
  --demo-phlox-pro-open-sans-semibold-18-upper-font-size: 18px;
  --demo-phlox-pro-open-sans-semibold-18-upper-letter-spacing: 0px;
  --demo-phlox-pro-open-sans-semibold-18-upper-line-height: 27px;
  --demo-phlox-pro-open-sans-semibold-18-upper-font-style: normal;
  --demo-phlox-pro-open-sans-semibold-20-upper-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-semibold-20-upper-font-weight: 600;
  --demo-phlox-pro-open-sans-semibold-20-upper-font-size: 20px;
  --demo-phlox-pro-open-sans-semibold-20-upper-letter-spacing: 0px;
  --demo-phlox-pro-open-sans-semibold-20-upper-line-height: 20px;
  --demo-phlox-pro-open-sans-semibold-20-upper-font-style: normal;
  --demo-phlox-pro-open-sans-semibold-22-upper-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-semibold-22-upper-font-weight: 600;
  --demo-phlox-pro-open-sans-semibold-22-upper-font-size: 22px;
  --demo-phlox-pro-open-sans-semibold-22-upper-letter-spacing: 2.640000104904175px;
  --demo-phlox-pro-open-sans-semibold-22-upper-line-height: 39.599998474121094px;
  --demo-phlox-pro-open-sans-semibold-22-upper-font-style: normal;
  --demo-phlox-pro-open-sans-semibold-24-upper-font-family: "Open Sans", Helvetica;
  --demo-phlox-pro-open-sans-semibold-24-upper-font-weight: 600;
  --demo-phlox-pro-open-sans-semibold-24-upper-font-size: 24px;
  --demo-phlox-pro-open-sans-semibold-24-upper-letter-spacing: 2.640000104904175px;
  --demo-phlox-pro-open-sans-semibold-24-upper-line-height: 43.20000076293945px;
  --demo-phlox-pro-open-sans-semibold-24-upper-font-style: normal;
  --demo-phlox-pro-nunito-bold-30-title-font-family: "Nunito", Helvetica;
  --demo-phlox-pro-nunito-bold-30-title-font-weight: 700;
  --demo-phlox-pro-nunito-bold-30-title-font-size: 30px;
  --demo-phlox-pro-nunito-bold-30-title-letter-spacing: 0px;
  --demo-phlox-pro-nunito-bold-30-title-line-height: 34.5px;
  --demo-phlox-pro-nunito-bold-30-title-font-style: normal;
  --demo-phlox-pro-nunito-bold-italic-200-title-font-family: "Nunito", Helvetica;
  --demo-phlox-pro-nunito-bold-italic-200-title-font-weight: 700;
  --demo-phlox-pro-nunito-bold-italic-200-title-font-size: 200px;
  --demo-phlox-pro-nunito-bold-italic-200-title-letter-spacing: -10px;
  --demo-phlox-pro-nunito-bold-italic-200-title-line-height: 45px;
  --demo-phlox-pro-nunito-bold-italic-200-title-font-style: italic;
  --demo-phlox-pro-nunito-extrabold-24-title-font-family: "Nunito", Helvetica;
  --demo-phlox-pro-nunito-extrabold-24-title-font-weight: 800;
  --demo-phlox-pro-nunito-extrabold-24-title-font-size: 24px;
  --demo-phlox-pro-nunito-extrabold-24-title-letter-spacing: 0px;
  --demo-phlox-pro-nunito-extrabold-24-title-line-height: 36px;
  --demo-phlox-pro-nunito-extrabold-24-title-font-style: normal;
  --demo-phlox-pro-nunito-regular-21-title-font-family: "Nunito", Helvetica;
  --demo-phlox-pro-nunito-regular-21-title-font-weight: 400;
  --demo-phlox-pro-nunito-regular-21-title-font-size: 21px;
  --demo-phlox-pro-nunito-regular-21-title-letter-spacing: 0px;
  --demo-phlox-pro-nunito-regular-21-title-line-height: 24.149999618530273px;
  --demo-phlox-pro-nunito-regular-21-title-font-style: normal;
  --demo-phlox-pro-nunito-regular-30-upper-font-family: "Nunito", Helvetica;
  --demo-phlox-pro-nunito-regular-30-upper-font-weight: 400;
  --demo-phlox-pro-nunito-regular-30-upper-font-size: 30px;
  --demo-phlox-pro-nunito-regular-30-upper-letter-spacing: 0px;
  --demo-phlox-pro-nunito-regular-30-upper-line-height: 34.5px;
  --demo-phlox-pro-nunito-regular-30-upper-font-style: normal;
  --demo-phlox-pro-nunito-semibold-18-title-font-family: "Nunito", Helvetica;
  --demo-phlox-pro-nunito-semibold-18-title-font-weight: 600;
  --demo-phlox-pro-nunito-semibold-18-title-font-size: 18px;
  --demo-phlox-pro-nunito-semibold-18-title-letter-spacing: 0px;
  --demo-phlox-pro-nunito-semibold-18-title-line-height: 27px;
  --demo-phlox-pro-nunito-semibold-18-title-font-style: normal;
  --demo-phlox-pro-nunito-semibold-65-upper-font-family: "Nunito", Helvetica;
  --demo-phlox-pro-nunito-semibold-65-upper-font-weight: 600;
  --demo-phlox-pro-nunito-semibold-65-upper-font-size: 65px;
  --demo-phlox-pro-nunito-semibold-65-upper-letter-spacing: 0px;
  --demo-phlox-pro-nunito-semibold-65-upper-line-height: 74.75px;
  --demo-phlox-pro-nunito-semibold-65-upper-font-style: normal;
  --demo-phlox-pro-semantic-heading-2-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-semantic-heading-2-font-weight: 600;
  --demo-phlox-pro-semantic-heading-2-font-size: 30px;
  --demo-phlox-pro-semantic-heading-2-letter-spacing: -0.30000001192092896px;
  --demo-phlox-pro-semantic-heading-2-line-height: 45px;
  --demo-phlox-pro-semantic-heading-2-font-style: normal;
  --demo-phlox-pro-semantic-heading-3-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-semantic-heading-3-font-weight: 600;
  --demo-phlox-pro-semantic-heading-3-font-size: 65px;
  --demo-phlox-pro-semantic-heading-3-letter-spacing: -0.6499999761581421px;
  --demo-phlox-pro-semantic-heading-3-line-height: 71.5px;
  --demo-phlox-pro-semantic-heading-3-font-style: normal;
  --demo-phlox-pro-semantic-heading-4-font-family: "Poppins", Helvetica;
  --demo-phlox-pro-semantic-heading-4-font-weight: 600;
  --demo-phlox-pro-semantic-heading-4-font-size: 24px;
  --demo-phlox-pro-semantic-heading-4-letter-spacing: -0.6399999856948853px;
  --demo-phlox-pro-semantic-heading-4-line-height: 24px;
  --demo-phlox-pro-semantic-heading-4-font-style: normal;
  --demo-phlox-pro-semantic-heading-5-font-family: "Questrial", Helvetica;
  --demo-phlox-pro-semantic-heading-5-font-weight: 400;
  --demo-phlox-pro-semantic-heading-5-font-size: 16px;
  --demo-phlox-pro-semantic-heading-5-letter-spacing: -0.3199999928474426px;
  --demo-phlox-pro-semantic-heading-5-line-height: 22.399999618530273px;
  --demo-phlox-pro-semantic-heading-5-font-style: normal;
  --demo-phlox-pro-semantic-input-font-family: "Questrial", Helvetica;
  --demo-phlox-pro-semantic-input-font-weight: 400;
  --demo-phlox-pro-semantic-input-font-size: 16px;
  --demo-phlox-pro-semantic-input-letter-spacing: -0.3199999928474426px;
  --demo-phlox-pro-semantic-input-line-height: 16px;
  --demo-phlox-pro-semantic-input-font-style: normal;
  --demo-phlox-pro-semantic-item-font-family: "Questrial", Helvetica;
  --demo-phlox-pro-semantic-item-font-weight: 400;
  --demo-phlox-pro-semantic-item-font-size: 20px;
  --demo-phlox-pro-semantic-item-letter-spacing: -0.20000000298023224px;
  --demo-phlox-pro-semantic-item-line-height: 30px;
  --demo-phlox-pro-semantic-item-font-style: normal;
  --demo-phlox-pro-semantic-link-font-family: "Raleway", Helvetica;
  --demo-phlox-pro-semantic-link-font-weight: 400;
  --demo-phlox-pro-semantic-link-font-size: 12px;
  --demo-phlox-pro-semantic-link-letter-spacing: 0px;
  --demo-phlox-pro-semantic-link-line-height: 40px;
  --demo-phlox-pro-semantic-link-font-style: normal;
  --demo-phlox-pro-semantic-small-font-family: "Questrial", Helvetica;
  --demo-phlox-pro-semantic-small-font-weight: 400;
  --demo-phlox-pro-semantic-small-font-size: 16px;
  --demo-phlox-pro-semantic-small-letter-spacing: -0.3199999928474426px;
  --demo-phlox-pro-semantic-small-line-height: 24px;
  --demo-phlox-pro-semantic-small-font-style: normal;
  --demo-phlox-pro-semantic-time-font-family: "Questrial", Helvetica;
  --demo-phlox-pro-semantic-time-font-weight: 400;
  --demo-phlox-pro-semantic-time-font-size: 16px;
  --demo-phlox-pro-semantic-time-letter-spacing: 0px;
  --demo-phlox-pro-semantic-time-line-height: 24px;
  --demo-phlox-pro-semantic-time-font-style: normal;
  --www-vehycles-io-poppins-bold-12-6-upper-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-bold-12-6-upper-font-weight: 700;
  --www-vehycles-io-poppins-bold-12-6-upper-font-size: 12.600000381469727px;
  --www-vehycles-io-poppins-bold-12-6-upper-letter-spacing: 2px;
  --www-vehycles-io-poppins-bold-12-6-upper-line-height: 18.899999618530273px;
  --www-vehycles-io-poppins-bold-12-6-upper-font-style: normal;
  --www-vehycles-io-poppins-bold-14-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-bold-14-font-weight: 700;
  --www-vehycles-io-poppins-bold-14-font-size: 14px;
  --www-vehycles-io-poppins-bold-14-letter-spacing: 0px;
  --www-vehycles-io-poppins-bold-14-line-height: 26px;
  --www-vehycles-io-poppins-bold-14-font-style: normal;
  --www-vehycles-io-poppins-bold-16-8-upper-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-bold-16-8-upper-font-weight: 700;
  --www-vehycles-io-poppins-bold-16-8-upper-font-size: 16.799999237060547px;
  --www-vehycles-io-poppins-bold-16-8-upper-letter-spacing: -0.8399999737739563px;
  --www-vehycles-io-poppins-bold-16-8-upper-line-height: 24px;
  --www-vehycles-io-poppins-bold-16-8-upper-font-style: normal;
  --www-vehycles-io-poppins-bold-21-title-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-bold-21-title-font-weight: 700;
  --www-vehycles-io-poppins-bold-21-title-font-size: 21px;
  --www-vehycles-io-poppins-bold-21-title-letter-spacing: -1.0499999523162842px;
  --www-vehycles-io-poppins-bold-21-title-line-height: 21px;
  --www-vehycles-io-poppins-bold-21-title-font-style: normal;
  --www-vehycles-io-poppins-bold-25-2-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-bold-25-2-font-weight: 700;
  --www-vehycles-io-poppins-bold-25-2-font-size: 25.200000762939453px;
  --www-vehycles-io-poppins-bold-25-2-letter-spacing: -1.2599999904632568px;
  --www-vehycles-io-poppins-bold-25-2-line-height: 24px;
  --www-vehycles-io-poppins-bold-25-2-font-style: normal;
  --www-vehycles-io-poppins-bold-30-8-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-bold-30-8-font-weight: 700;
  --www-vehycles-io-poppins-bold-30-8-font-size: 30.799999237060547px;
  --www-vehycles-io-poppins-bold-30-8-letter-spacing: -1.5399999618530273px;
  --www-vehycles-io-poppins-bold-30-8-line-height: 42px;
  --www-vehycles-io-poppins-bold-30-8-font-style: normal;
  --www-vehycles-io-poppins-bold-38-5-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-bold-38-5-font-weight: 700;
  --www-vehycles-io-poppins-bold-38-5-font-size: 38.5px;
  --www-vehycles-io-poppins-bold-38-5-letter-spacing: -1.9249999523162842px;
  --www-vehycles-io-poppins-bold-38-5-line-height: 42px;
  --www-vehycles-io-poppins-bold-38-5-font-style: normal;
  --www-vehycles-io-poppins-extrabold-25-2-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-extrabold-25-2-font-weight: 800;
  --www-vehycles-io-poppins-extrabold-25-2-font-size: 25.200000762939453px;
  --www-vehycles-io-poppins-extrabold-25-2-letter-spacing: -1.2599999904632568px;
  --www-vehycles-io-poppins-extrabold-25-2-line-height: 42px;
  --www-vehycles-io-poppins-extrabold-25-2-font-style: normal;
  --www-vehycles-io-poppins-light-14-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-light-14-font-weight: 300;
  --www-vehycles-io-poppins-light-14-font-size: 14px;
  --www-vehycles-io-poppins-light-14-letter-spacing: 0px;
  --www-vehycles-io-poppins-light-14-line-height: 26px;
  --www-vehycles-io-poppins-light-14-font-style: normal;
  --www-vehycles-io-poppins-medium-12-6-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-medium-12-6-font-weight: 500;
  --www-vehycles-io-poppins-medium-12-6-font-size: 12.600000381469727px;
  --www-vehycles-io-poppins-medium-12-6-letter-spacing: -0.6299999952316284px;
  --www-vehycles-io-poppins-medium-12-6-line-height: 26px;
  --www-vehycles-io-poppins-medium-12-6-font-style: normal;
  --www-vehycles-io-poppins-medium-14-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-medium-14-font-weight: 500;
  --www-vehycles-io-poppins-medium-14-font-size: 14px;
  --www-vehycles-io-poppins-medium-14-letter-spacing: 2px;
  --www-vehycles-io-poppins-medium-14-line-height: 26px;
  --www-vehycles-io-poppins-medium-14-font-style: normal;
  --www-vehycles-io-poppins-regular-12-6-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-regular-12-6-font-weight: 400;
  --www-vehycles-io-poppins-regular-12-6-font-size: 12.600000381469727px;
  --www-vehycles-io-poppins-regular-12-6-letter-spacing: 0px;
  --www-vehycles-io-poppins-regular-12-6-line-height: 26px;
  --www-vehycles-io-poppins-regular-12-6-font-style: normal;
  --www-vehycles-io-poppins-regular-14-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-regular-14-font-weight: 400;
  --www-vehycles-io-poppins-regular-14-font-size: 14px;
  --www-vehycles-io-poppins-regular-14-letter-spacing: 0px;
  --www-vehycles-io-poppins-regular-14-line-height: 26px;
  --www-vehycles-io-poppins-regular-14-font-style: normal;
  --www-vehycles-io-poppins-regular-16-8-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-regular-16-8-font-weight: 400;
  --www-vehycles-io-poppins-regular-16-8-font-size: 16.799999237060547px;
  --www-vehycles-io-poppins-regular-16-8-letter-spacing: 0px;
  --www-vehycles-io-poppins-regular-16-8-line-height: 26px;
  --www-vehycles-io-poppins-regular-16-8-font-style: normal;
  --www-vehycles-io-poppins-regular-25-2-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-regular-25-2-font-weight: 400;
  --www-vehycles-io-poppins-regular-25-2-font-size: 25.200000762939453px;
  --www-vehycles-io-poppins-regular-25-2-letter-spacing: -1.2599999904632568px;
  --www-vehycles-io-poppins-regular-25-2-line-height: 42px;
  --www-vehycles-io-poppins-regular-25-2-font-style: normal;
  --www-vehycles-io-poppins-semibold-12-6-upper-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-semibold-12-6-upper-font-weight: 600;
  --www-vehycles-io-poppins-semibold-12-6-upper-font-size: 12.600000381469727px;
  --www-vehycles-io-poppins-semibold-12-6-upper-letter-spacing: -0.6299999952316284px;
  --www-vehycles-io-poppins-semibold-12-6-upper-line-height: 18px;
  --www-vehycles-io-poppins-semibold-12-6-upper-font-style: normal;
  --www-vehycles-io-poppins-semibold-14-title-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-semibold-14-title-font-weight: 600;
  --www-vehycles-io-poppins-semibold-14-title-font-size: 14px;
  --www-vehycles-io-poppins-semibold-14-title-letter-spacing: -0.5px;
  --www-vehycles-io-poppins-semibold-14-title-line-height: 24px;
  --www-vehycles-io-poppins-semibold-14-title-font-style: normal;
  --www-vehycles-io-poppins-semibold-21-6-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-semibold-21-6-font-weight: 600;
  --www-vehycles-io-poppins-semibold-21-6-font-size: 21.600000381469727px;
  --www-vehycles-io-poppins-semibold-21-6-letter-spacing: 0px;
  --www-vehycles-io-poppins-semibold-21-6-line-height: 30.239999771118164px;
  --www-vehycles-io-poppins-semibold-21-6-font-style: normal;
  --www-vehycles-io-poppins-semibold-24-84-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-semibold-24-84-font-weight: 600;
  --www-vehycles-io-poppins-semibold-24-84-font-size: 24.84000015258789px;
  --www-vehycles-io-poppins-semibold-24-84-letter-spacing: 0px;
  --www-vehycles-io-poppins-semibold-24-84-line-height: 30.239999771118164px;
  --www-vehycles-io-poppins-semibold-24-84-font-style: normal;
  --www-vehycles-io-poppins-semibold-25-2-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-semibold-25-2-font-weight: 600;
  --www-vehycles-io-poppins-semibold-25-2-font-size: 25.200000762939453px;
  --www-vehycles-io-poppins-semibold-25-2-letter-spacing: -1.2599999904632568px;
  --www-vehycles-io-poppins-semibold-25-2-line-height: 24px;
  --www-vehycles-io-poppins-semibold-25-2-font-style: normal;
  --www-vehycles-io-poppins-semibold-43-2-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-semibold-43-2-font-weight: 600;
  --www-vehycles-io-poppins-semibold-43-2-font-size: 43.20000076293945px;
  --www-vehycles-io-poppins-semibold-43-2-letter-spacing: 0px;
  --www-vehycles-io-poppins-semibold-43-2-line-height: 43.20000076293945px;
  --www-vehycles-io-poppins-semibold-43-2-font-style: normal;
  --www-vehycles-io-poppins-semibold-49-68-font-family: "Poppins", Helvetica;
  --www-vehycles-io-poppins-semibold-49-68-font-weight: 600;
  --www-vehycles-io-poppins-semibold-49-68-font-size: 49.68000030517578px;
  --www-vehycles-io-poppins-semibold-49-68-letter-spacing: 0px;
  --www-vehycles-io-poppins-semibold-49-68-line-height: 43.20000076293945px;
  --www-vehycles-io-poppins-semibold-49-68-font-style: normal;
  --www-vehycles-io-font-awesome-5-brands-regular-11-5-font-family: "Font Awesome 5 Brands", Helvetica;
  --www-vehycles-io-font-awesome-5-brands-regular-11-5-font-weight: 400;
  --www-vehycles-io-font-awesome-5-brands-regular-11-5-font-size: 11.5px;
  --www-vehycles-io-font-awesome-5-brands-regular-11-5-letter-spacing: 0px;
  --www-vehycles-io-font-awesome-5-brands-regular-11-5-line-height: 11.520000457763672px;
  --www-vehycles-io-font-awesome-5-brands-regular-11-5-font-style: normal;
  --www-vehycles-io-font-awesome-5-brands-regular-16-4-font-family: "Font Awesome 5 Brands", Helvetica;
  --www-vehycles-io-font-awesome-5-brands-regular-16-4-font-weight: 400;
  --www-vehycles-io-font-awesome-5-brands-regular-16-4-font-size: 16.399999618530273px;
  --www-vehycles-io-font-awesome-5-brands-regular-16-4-letter-spacing: 0px;
  --www-vehycles-io-font-awesome-5-brands-regular-16-4-line-height: 16.3799991607666px;
  --www-vehycles-io-font-awesome-5-brands-regular-16-4-font-style: normal;
  --www-vehycles-io-font-awesome-5-free-regular-16-4-font-family: "Font Awesome 5 Free", Helvetica;
  --www-vehycles-io-font-awesome-5-free-regular-16-4-font-weight: 400;
  --www-vehycles-io-font-awesome-5-free-regular-16-4-font-size: 16.399999618530273px;
  --www-vehycles-io-font-awesome-5-free-regular-16-4-letter-spacing: 0px;
  --www-vehycles-io-font-awesome-5-free-regular-16-4-line-height: 16.3799991607666px;
  --www-vehycles-io-font-awesome-5-free-regular-16-4-font-style: normal;
  --www-vehycles-io-font-awesome-5-free-solid-11-2-font-family: "Font Awesome 5 Free", Helvetica;
  --www-vehycles-io-font-awesome-5-free-solid-11-2-font-weight: 400;
  --www-vehycles-io-font-awesome-5-free-solid-11-2-font-size: 11.199999809265137px;
  --www-vehycles-io-font-awesome-5-free-solid-11-2-letter-spacing: 0px;
  --www-vehycles-io-font-awesome-5-free-solid-11-2-line-height: 11.199999809265137px;
  --www-vehycles-io-font-awesome-5-free-solid-11-2-font-style: normal;
  --www-vehycles-io-semantic-heading-2-font-family: "Poppins", Helvetica;
  --www-vehycles-io-semantic-heading-2-font-weight: 700;
  --www-vehycles-io-semantic-heading-2-font-size: 30.799999237060547px;
  --www-vehycles-io-semantic-heading-2-letter-spacing: -1.5399999618530273px;
  --www-vehycles-io-semantic-heading-2-line-height: 42px;
  --www-vehycles-io-semantic-heading-2-font-style: normal;
  --www-vehycles-io-semantic-heading-3-font-family: "Poppins", Helvetica;
  --www-vehycles-io-semantic-heading-3-font-weight: 600;
  --www-vehycles-io-semantic-heading-3-font-size: 14.720000267028809px;
  --www-vehycles-io-semantic-heading-3-letter-spacing: 0px;
  --www-vehycles-io-semantic-heading-3-line-height: 12.800000190734863px;
  --www-vehycles-io-semantic-heading-3-font-style: normal;
  --www-vehycles-io-semantic-heading-4-font-family: "Poppins", Helvetica;
  --www-vehycles-io-semantic-heading-4-font-weight: 600;
  --www-vehycles-io-semantic-heading-4-font-size: 22.540000915527344px;
  --www-vehycles-io-semantic-heading-4-letter-spacing: -0.9800000190734863px;
  --www-vehycles-io-semantic-heading-4-line-height: 27px;
  --www-vehycles-io-semantic-heading-4-font-style: normal;
  --www-vehycles-io-semantic-heading-5-font-family: "Poppins", Helvetica;
  --www-vehycles-io-semantic-heading-5-font-weight: 600;
  --www-vehycles-io-semantic-heading-5-font-size: 12.600000381469727px;
  --www-vehycles-io-semantic-heading-5-letter-spacing: -0.6299999952316284px;
  --www-vehycles-io-semantic-heading-5-line-height: 18px;
  --www-vehycles-io-semantic-heading-5-font-style: normal;
  --www-vehycles-io-semantic-item-font-family: "Poppins", Helvetica;
  --www-vehycles-io-semantic-item-font-weight: 400;
  --www-vehycles-io-semantic-item-font-size: 14.720000267028809px;
  --www-vehycles-io-semantic-item-letter-spacing: 0px;
  --www-vehycles-io-semantic-item-line-height: 37.119998931884766px;
  --www-vehycles-io-semantic-item-font-style: normal;
  --www-vehycles-io-semantic-label-font-family: "Poppins", Helvetica;
  --www-vehycles-io-semantic-label-font-weight: 400;
  --www-vehycles-io-semantic-label-font-size: 12.880000114440918px;
  --www-vehycles-io-semantic-label-letter-spacing: 0px;
  --www-vehycles-io-semantic-label-line-height: 11.199999809265137px;
  --www-vehycles-io-semantic-label-font-style: normal;
  --www-vehycles-io-semantic-link-font-family: "Poppins", Helvetica;
  --www-vehycles-io-semantic-link-font-weight: 600;
  --www-vehycles-io-semantic-link-font-size: 16px;
  --www-vehycles-io-semantic-link-letter-spacing: -0.20000000298023224px;
  --www-vehycles-io-semantic-link-line-height: 24px;
  --www-vehycles-io-semantic-link-font-style: normal;
  --www-vehycles-io-semantic-strong-font-family: "Poppins", Helvetica;
  --www-vehycles-io-semantic-strong-font-weight: 700;
  --www-vehycles-io-semantic-strong-font-size: 30.799999237060547px;
  --www-vehycles-io-semantic-strong-letter-spacing: -1.5399999618530273px;
  --www-vehycles-io-semantic-strong-line-height: 42px;
  --www-vehycles-io-semantic-strong-font-style: normal;
  --www-winnov8hq-com-semantic-button-font-family: "DM Sans", Helvetica;
  --www-winnov8hq-com-semantic-button-font-weight: 400;
  --www-winnov8hq-com-semantic-button-font-size: 18px;
  --www-winnov8hq-com-semantic-button-letter-spacing: 0px;
  --www-winnov8hq-com-semantic-button-line-height: 20px;
  --www-winnov8hq-com-semantic-button-font-style: normal;
  --www-winnov8hq-com-semantic-heading-2-font-family: "Lexend", Helvetica;
  --www-winnov8hq-com-semantic-heading-2-font-weight: 500;
  --www-winnov8hq-com-semantic-heading-2-font-size: 44.79999923706055px;
  --www-winnov8hq-com-semantic-heading-2-letter-spacing: 0px;
  --www-winnov8hq-com-semantic-heading-2-line-height: 50px;
  --www-winnov8hq-com-semantic-heading-2-font-style: normal;
  --www-winnov8hq-com-semantic-heading-4-font-family: "DM Sans", Helvetica;
  --www-winnov8hq-com-semantic-heading-4-font-weight: 700;
  --www-winnov8hq-com-semantic-heading-4-font-size: 18px;
  --www-winnov8hq-com-semantic-heading-4-letter-spacing: 0px;
  --www-winnov8hq-com-semantic-heading-4-line-height: 28px;
  --www-winnov8hq-com-semantic-heading-4-font-style: normal;
  --www-winnov8hq-com-DM-sans-9pt-regular-18-font-family: "DM Sans", Helvetica;
  --www-winnov8hq-com-DM-sans-9pt-regular-18-font-weight: 400;
  --www-winnov8hq-com-DM-sans-9pt-regular-18-font-size: 18px;
  --www-winnov8hq-com-DM-sans-9pt-regular-18-letter-spacing: 0px;
  --www-winnov8hq-com-DM-sans-9pt-regular-18-line-height: 30px;
  --www-winnov8hq-com-DM-sans-9pt-regular-18-font-style: normal;
  --www-winnov8hq-com-DM-sans-9pt-regular-19-8-font-family: "DM Sans", Helvetica;
  --www-winnov8hq-com-DM-sans-9pt-regular-19-8-font-weight: 400;
  --www-winnov8hq-com-DM-sans-9pt-regular-19-8-font-size: 19.799999237060547px;
  --www-winnov8hq-com-DM-sans-9pt-regular-19-8-letter-spacing: 0px;
  --www-winnov8hq-com-DM-sans-9pt-regular-19-8-line-height: 20px;
  --www-winnov8hq-com-DM-sans-9pt-regular-19-8-font-style: normal;
  --www-winnov8hq-com-DM-sans-bold-18-font-family: "DM Sans", Helvetica;
  --www-winnov8hq-com-DM-sans-bold-18-font-weight: 700;
  --www-winnov8hq-com-DM-sans-bold-18-font-size: 18px;
  --www-winnov8hq-com-DM-sans-bold-18-letter-spacing: 0px;
  --www-winnov8hq-com-DM-sans-bold-18-line-height: 30px;
  --www-winnov8hq-com-DM-sans-bold-18-font-style: normal;
  --www-winnov8hq-com-DM-sans-extralight-20-font-family: "DM Sans", Helvetica;
  --www-winnov8hq-com-DM-sans-extralight-20-font-weight: 200;
  --www-winnov8hq-com-DM-sans-extralight-20-font-size: 20px;
  --www-winnov8hq-com-DM-sans-extralight-20-letter-spacing: 0px;
  --www-winnov8hq-com-DM-sans-extralight-20-line-height: 28px;
  --www-winnov8hq-com-DM-sans-extralight-20-font-style: normal;
  --www-winnov8hq-com-DM-sans-light-12-font-family: "DM Sans", Helvetica;
  --www-winnov8hq-com-DM-sans-light-12-font-weight: 300;
  --www-winnov8hq-com-DM-sans-light-12-font-size: 12px;
  --www-winnov8hq-com-DM-sans-light-12-letter-spacing: 0.23999999463558197px;
  --www-winnov8hq-com-DM-sans-light-12-line-height: 16px;
  --www-winnov8hq-com-DM-sans-light-12-font-style: normal;
  --www-winnov8hq-com-DM-sans-light-14-font-family: "DM Sans", Helvetica;
  --www-winnov8hq-com-DM-sans-light-14-font-weight: 300;
  --www-winnov8hq-com-DM-sans-light-14-font-size: 14px;
  --www-winnov8hq-com-DM-sans-light-14-letter-spacing: 0.2800000011920929px;
  --www-winnov8hq-com-DM-sans-light-14-line-height: 20px;
  --www-winnov8hq-com-DM-sans-light-14-font-style: normal;
  --www-winnov8hq-com-DM-sans-light-16-font-family: "DM Sans", Helvetica;
  --www-winnov8hq-com-DM-sans-light-16-font-weight: 300;
  --www-winnov8hq-com-DM-sans-light-16-font-size: 16px;
  --www-winnov8hq-com-DM-sans-light-16-letter-spacing: 0px;
  --www-winnov8hq-com-DM-sans-light-16-line-height: 20px;
  --www-winnov8hq-com-DM-sans-light-16-font-style: normal;
  --www-winnov8hq-com-DM-sans-light-18-font-family: "DM Sans", Helvetica;
  --www-winnov8hq-com-DM-sans-light-18-font-weight: 300;
  --www-winnov8hq-com-DM-sans-light-18-font-size: 18px;
  --www-winnov8hq-com-DM-sans-light-18-letter-spacing: 0px;
  --www-winnov8hq-com-DM-sans-light-18-line-height: 20px;
  --www-winnov8hq-com-DM-sans-light-18-font-style: normal;
  --www-winnov8hq-com-DM-sans-light-19-8-font-family: "DM Sans", Helvetica;
  --www-winnov8hq-com-DM-sans-light-19-8-font-weight: 300;
  --www-winnov8hq-com-DM-sans-light-19-8-font-size: 19.799999237060547px;
  --www-winnov8hq-com-DM-sans-light-19-8-letter-spacing: 0px;
  --www-winnov8hq-com-DM-sans-light-19-8-line-height: 20px;
  --www-winnov8hq-com-DM-sans-light-19-8-font-style: normal;
  --www-winnov8hq-com-DM-sans-medium-20-font-family: "DM Sans", Helvetica;
  --www-winnov8hq-com-DM-sans-medium-20-font-weight: 500;
  --www-winnov8hq-com-DM-sans-medium-20-font-size: 20px;
  --www-winnov8hq-com-DM-sans-medium-20-letter-spacing: 0px;
  --www-winnov8hq-com-DM-sans-medium-20-line-height: 28px;
  --www-winnov8hq-com-DM-sans-medium-20-font-style: normal;
  --www-winnov8hq-com-DM-sans-9pt-regular-16-font-family: "DM Sans", Helvetica;
  --www-winnov8hq-com-DM-sans-9pt-regular-16-font-weight: 400;
  --www-winnov8hq-com-DM-sans-9pt-regular-16-font-size: 16px;
  --www-winnov8hq-com-DM-sans-9pt-regular-16-letter-spacing: 0px;
  --www-winnov8hq-com-DM-sans-9pt-regular-16-line-height: 20px;
  --www-winnov8hq-com-DM-sans-9pt-regular-16-font-style: normal;
}
